<?xml version='1.0' encoding='utf-8'?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util">

  <!-- A telepítő magyar nyelvű. Az összes GUID a Visual Studio segítségével lett generálva. -->
  <Product Name='Mobile-RC' Id='6ED552EB-F733-47B5-8CA8-4832EEFDB6C3' UpgradeCode='B66E730E-D8D1-4765-AAB5-C58AB523E5D9'
    Language='1038' Codepage='1250' Version='1.0.0' Manufacturer='Farkas Zoltán'>

    <!-- A programot csak rendszergazda jogosultsággal lehet telepíteni és minden felhasználó használhatja. -->
    <Package Id='*' Keywords='Installer' Description="Mobile-RC Installer" Manufacturer='Farkas Zoltán'
      InstallerVersion='100' InstallPrivileges='elevated' InstallScope='perMachine' Compressed='yes' Languages='1038' SummaryCodepage='1250' Comments='BSc diplomamunka.' />

    <!-- A telepítő ebből a cabinet fájlból bontja ki a telepítés helyére a benne lévő fájlokat és a cabinet fájlt a telepítő tartalmazza. -->
    <Media Id='1' Cabinet='media.cab' EmbedCab='yes' />

    <!-- Megkeresi az Oracle JRE verzióját. -->
    <!--<Property Id="JAVA_JRE_VERSION">
      <RegistrySearch Id="SUN_JRE_VERSION" Root="HKLM" Key="SOFTWARE\JavaSoft\Java Runtime Environment" Name="CurrentVersion" Type="raw" />
    </Property>-->
    <!-- Új telepítéskor ha nincs legalább Oracle JRE 6 telepítve, figyelmezteti a felhasználót és kilép. -->
    <!--<Condition Message="A Java virtuális gép nincs telepítve!&#13;&#10;Telepítse az Oracle JRE 1.6-os vagy újabb verzióját."><![CDATA[Installed OR (JAVA_JRE_VERSION >= "1.6")]]></Condition>-->
    
    <Directory Id='TARGETDIR' Name='SourceDir'>

        <!-- A Program fájlok könyvtárba települ az alkalmazás. -->
        <Directory Id='ProgramFilesFolder'>
            <!-- Ezen belül is a Mobile-RC könyvtárba. -->
            <Directory Id='INSTALLDIR' Name='Mobile-RC'>

                <!-- A példa tanúsítványokat tartalmazó könyvtár. -->
                <Directory Id='TestCerts' Name='test-certs-passwd'>

                    <!-- ca.crt -->
                    <Component Id='SampleCa' Guid='ABD95E41-62E5-4677-B720-4C57FA4838E8'>
                        <File Id='CaFile' Source='test-certs-passwd/ca.crt' KeyPath='yes' />
                    </Component>

                    <!-- controller.crt -->
                    <Component Id='SampleControllerCrt' Guid='67AF4DF9-8550-4D42-B78A-3262805DA44D'>
                        <File Id='ControllerCrtFile' Source='test-certs-passwd/controller.crt' KeyPath='yes' />
                    </Component>

                    <!-- controller.key -->
                    <Component Id='SampleControllerKey' Guid='B98B2944-B780-4B04-A437-C5B6172119C4'>
                        <File Id='ControllerKeyFile' Source='test-certs-passwd/controller.key' KeyPath='yes' />
                    </Component>

                    <!-- bridge.crt -->
                    <Component Id='SampleBridgeCrt' Guid='A6166870-8BA7-4AB0-A2F7-78A429343950'>
                        <File Id='BridgeCrtFile' Source='test-certs-passwd/bridge.crt' KeyPath='yes' />
                    </Component>

                    <!-- bridge.key -->
                    <Component Id='SampleBridgeKey' Guid='6CA5D93E-FBEB-407D-A575-C01770BC89C4'>
                        <File Id='BridgeKeyFile' Source='test-certs-passwd/bridge.key' KeyPath='yes' />
                    </Component>

                    <!-- big.crt -->
                    <Component Id='SampleBigCrt' Guid='3537EB52-44BB-467D-B982-9782A147B19E'>
                        <File Id='BigCrtFile' Source='test-certs-passwd/big.crt' KeyPath='yes' />
                    </Component>

                    <!-- big.key -->
                    <Component Id='SampleBigKey' Guid='853EE8E9-1318-4D65-869E-8A47FC09D1B0'>
                        <File Id='BigKeyFile' Source='test-certs-passwd/big.key' KeyPath='yes' />
                    </Component>

                </Directory>

                <!-- Példa konfig a szerver alkalmazáshoz. -->
                <Component Id='SampleBridgeCfg' Guid='6BD84337-9A6B-4DFD-BB91-E7FA60FDFF23'>
                    <File Id='BridgeCfgFile' Source='bridge.conf' KeyPath='yes' />
                </Component>

                <!-- Példa konfig a kliens alkalmazáshoz. -->
                <Component Id='SampleControllerCfg' Guid='318C6810-D6AF-483E-922A-8DF9A60B2CCD'>
                    <File Id='ControllerCfgFile' Source='controller.ser' KeyPath='yes' />
                </Component>

                <!-- Fehérlista a szerver alkalmazáshoz. -->
                <Component Id='SampleWhitelistCfg' Guid='542FB1C7-D8E6-4948-BA0C-648B91F8548F'>
                    <File Id='WhitelistCfgFile' Source='whitelist.conf' KeyPath='yes' />
                </Component>

                <!-- A kliens alkalmazásindító script definiálása. -->
                <Component Id='ClientScript' Guid='BF8D28A2-40A2-4DE5-9D4D-9197D484CBFC'>

                    <File Id='ClientVBS' Source='client.vbs' KeyPath='yes'>

                        <!-- A kliens alkalmazást indító fájl elérhető az asztalról és a Start menüből is. -->
                        <Shortcut Id='startmenuClient' Directory="ProgramMenuDir" Name="Mobile-RC kliens" Icon="client.ico" IconIndex="0" WorkingDirectory='INSTALLDIR' Advertise='yes' />
                        <Shortcut Id='desktopClient' Directory="DesktopFolder" Name="Mobile-RC" Icon="client.ico" IconIndex="0" WorkingDirectory='INSTALLDIR' Advertise='yes' />

                    </File>

                </Component>

                <!-- A kliens alkalmazásindító fájl definiálása. -->
                <Component Id='ClientExecutable' Guid='B858FCD8-A0B2-48FB-BA41-CE2773C7635C'>

                    <File Id='ClientBAT' Source='client.bat' KeyPath='yes' />

                    <!-- Az alkalmazás az alábbi fájlokat hozhatja létre, amik telepítéskor még nem léteztek, de eltávolításkor törölni kell őket is. -->
                    <RemoveFile Id='ControllerConfFile' On='uninstall' Name='controller.ser' />

                </Component>

                <!-- A szerver alkalmazásindító script definiálása. -->
                <Component Id='ServerScript' Guid='28942B06-D656-4A8B-BADB-11EA5751E8B3'>

                    <File Id='ServerVBS' Source='server.vbs' KeyPath='yes'>

                        <!-- A szerver alkalmazást indító fájl elérhető az asztalról és a Start menüből is. -->
                        <Shortcut Id='startmenuServer' Directory="ProgramMenuDir" Name="Mobile-RC szerver" Icon="server.ico" IconIndex="0" WorkingDirectory='INSTALLDIR' Advertise='yes' />
                        <Shortcut Id='desktopServer' Directory="DesktopFolder" Name="Mobile-RC Híd" Icon="server.ico" IconIndex="0" WorkingDirectory='INSTALLDIR' Advertise='yes' />

                    </File>

                </Component>

                <!-- A szerver alkalmazásindító fájl definiálása. -->
                <Component Id='ServerExecutable' Guid='68812160-1B18-43ED-9A94-34EF5E05D1D2'>

                    <File Id='ServerBAT' Source='server.bat' KeyPath='yes' />

                    <!-- A szerver alkalmazás az alábbi fájlokat hozhatja létre, amik telepítéskor még nem léteztek, de eltávolításkor törölni kell őket is. -->
                    <RemoveFile Id='LogFile' On='uninstall' Name='bridge.log' />
                    <RemoveFile Id='BridgeConfFile' On='uninstall' Name='bridge.conf' />
                    <RemoveFile Id='WhitelistFile' On='uninstall' Name='whitelist.conf' />
                    <RemoveFile Id='BlacklistFile' On='uninstall' Name='blacklist.conf' />
                    <RemoveFile Id='BlocklistFile' On='uninstall' Name='blocklist.conf' />

                </Component>

                <!-- Maga a futtatható Java alkalmazást tartalmazó jar fájl. -->
                <Component Id='JavaApplication' Guid='5AC6C54A-4D61-4FD6-9E22-3DCD98D73EA0'>

                    <File Id='UiJar' Name='ui.jar' Source='ui.jar' KeyPath='yes'/>

                    <!-- A telepítés könyvtárához minden felhasználó megkapja az összes jogot, hogy az alkalmazás írhasson és olvashasson is benne minden állományt. -->
                    <CreateFolder Directory="INSTALLDIR">
                        <util:PermissionEx User="Users" GenericAll="yes" />
                    </CreateFolder>

                    <!-- A kliens és a szerver alkalmazás is létrehozhatja az alábbi fájlokat, amik telepítéskor még nem léteztek, de eltávolításkor törölni kell őket is. -->
                    <RemoveFile Id='NoSwtFile' On='uninstall' Name='no_swt' />

                </Component>

                <!-- A Windows alatt használt lib fájlok könyvtára. -->
                <Directory Id='LibFolder' Name='lib'>

                    <!-- A 32-bites JRE alatt használt SWT lib. -->
                    <Component Id='SwtLib32' Guid='F867C946-6A38-4421-95FC-B120A6B8C22F'>
                        <File Id='SwtLib32File' Source='swt-win32.jar' KeyPath='yes' />
                    </Component>

                    <!-- A 64-bites JRE alatt használt SWT lib. -->
                    <Component Id='SwtLib64' Guid='C2C06C50-8F49-4173-BDF9-2396078C61CA'>
                        <File Id='SwtLib64File' Source='swt-win64.jar' KeyPath='yes' />
                    </Component>

                </Directory>

                <!-- A diplomamunka PDF formátumban. -->
                <Component Id='Manual' Guid='3C67AC75-39CA-4DE9-BDE5-BA52FF59720F'>
                    <File Id='Manual' Name='thesis.pdf' Source='thesis.pdf' KeyPath='yes'>
                        <!-- A Start menüből érhető el. -->
                        <Shortcut Id='startmenuManual' Directory='ProgramMenuDir' Name='Mobile-RC dokumentáció' Icon="thesis.pdf" IconIndex="0" Advertise='yes' />
                    </File>
                </Component>

            </Directory>
        </Directory>

        <!-- Az alkalmazás helye a Start menüben. -->
        <Directory Id="ProgramMenuFolder" Name="Programs">
            <Directory Id="ProgramMenuDir" Name="Mobile-RC">
                <Component Id="ProgramMenuDir" Guid="6057411C-E132-4CD9-9A08-ADE5D7C1377F">
                    <!-- Eltávolításkor törlődik a könyvtár a Start menüből. -->
                    <RemoveFolder Id='ProgramMenuDir' On='uninstall' />
                    <!-- Registry bejegyzés a könyvtárhoz. -->
                    <RegistryValue Root='HKCU' Key='Software\[Manufacturer]\[ProductName]' Type='string' Value='' KeyPath='yes' />
                    <!-- Alkalmazás-eltávolító parancsikon kerül a könyvtárba. -->
                    <Shortcut Id="UninstallProduct" Directory="ProgramMenuDir" Name="Mobile-RC eltávolítása" Target="[SystemFolder]msiexec.exe" Arguments="/x [ProductCode]" Description="Az alkalmazás eltávolítása." />
                </Component>
            </Directory>
        </Directory>

        <!-- Hivatkozás az asztalra, ami a fenti definícióban használva is van. -->
        <Directory Id="DesktopFolder" Name="Desktop" />

    </Directory>

    <!-- A gyökér eleme, ami minden más elemet tartalmaz. Ezt kiválasztva minden települ. -->
    <Feature Id='Complete' Absent='disallow' AllowAdvertise='no' Title='Mobile-RC' Description='A teljes csomag.'
      Display='expand' Level='1' ConfigurableDirectory='INSTALLDIR'>

        <!-- Alapértelmezés szerint csak az alkalmazás és a parancsikonok vannak telepítésre jelölve. -->
        <Feature Id='MainProgram' Absent='disallow' Title='Program' Description='Az alkalmazás és a parancsikonok.' Level='1'>
            <ComponentRef Id='JavaApplication' />
            <ComponentRef Id='SwtLib32' />
            <ComponentRef Id='SwtLib64' />
            <ComponentRef Id='ClientExecutable' />
            <ComponentRef Id='ServerExecutable' />
            <ComponentRef Id='ClientScript' />
            <ComponentRef Id='ServerScript' />
            <ComponentRef Id='ProgramMenuDir' />
        </Feature>

        <!-- Teszt tanúsítványok és példa konfigok. -->
        <Feature Id='Sample' Title='Teszt tanúsítványok' AllowAdvertise='no' Description='Teszt tanúsítványok és beállítások nem éles használatra.' Level='1'>
            <ComponentRef Id='SampleCa' />
            <ComponentRef Id='SampleControllerCrt' />
            <ComponentRef Id='SampleControllerKey' />
            <ComponentRef Id='SampleBridgeCrt' />
            <ComponentRef Id='SampleBridgeKey' />
            <ComponentRef Id='SampleBigCrt' />
            <ComponentRef Id='SampleBigKey' />
            <ComponentRef Id='SampleBridgeCfg' />
            <ComponentRef Id='SampleControllerCfg' />
            <ComponentRef Id='SampleWhitelistCfg' />
        </Feature>

        <!-- A dokumentáció alapértelmezés szerint nincs telepítésre jelölve, mivel a level elég magas. -->
        <Feature Id='Documentation' Title='Dokumentáció' Description='A diplomamunka PDF formátumban.' Level='1000'>
            <ComponentRef Id='Manual' />
        </Feature>

    </Feature>

    <!-- A kliens ikon a controller.ico fájlból van kiolvasva. -->
    <Icon Id="client.ico" SourceFile="controller.ico" />

    <!-- A szerver ikon a bridge.ico fájlból van kiolvasva. -->
    <Icon Id="server.ico" SourceFile="bridge.ico" />

    <!-- A dokumentáció ikonja a PDF ikon. -->
    <Icon Id="thesis.pdf" SourceFile="thesis.pdf" />
    
    <UI>
        <!-- Olyan felületet ad, mely a lehető legtöbb beállítást tartalmazza. -->
        <UIRef Id="WixUI_MondoNoLicense" />
        <UIRef Id="WixUI_ErrorProgressText" />
    </UI>

    <!-- A telepítés könyvtárának módosulásakor megváltozik a konfigban beállított alapértelmezés. -->
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />

    <!-- A vezérlőpultból elérhető program-eltávolító ablak listájában látható ikon. -->
    <Property Id="ARPPRODUCTICON" Value="client.ico" />

    <!-- A vezérlőpultból elérhető program-eltávolító ablak listájában látható súgó hivatkozás. -->
    <Property Id="ARPHELPLINK" Value="https://github.com/fzoli/RemoteControlCar" />

  </Product>

  <!-- Egy olyan grafikus felületet leíró teg, mely megegyezik az eredeti WixUI_Mondo teggel, de ebből ki van hagyva a licensz elfogadó ablak. -->
  <Fragment>
    <UI Id="WixUI_MondoNoLicense">
      <TextStyle Id="WixUI_Font_Normal" FaceName="Tahoma" Size="8" />
      <TextStyle Id="WixUI_Font_Bigger" FaceName="Tahoma" Size="12" />
      <TextStyle Id="WixUI_Font_Title" FaceName="Tahoma" Size="9" Bold="yes" />

      <Property Id="DefaultUIFont" Value="WixUI_Font_Normal" />
      <Property Id="WixUI_Mode" Value="Mondo" />

      <DialogRef Id="ErrorDlg" />
      <DialogRef Id="FatalError" />
      <DialogRef Id="FilesInUse" />
      <DialogRef Id="MsiRMFilesInUse" />
      <DialogRef Id="PrepareDlg" />
      <DialogRef Id="ProgressDlg" />
      <DialogRef Id="ResumeDlg" />
      <DialogRef Id="UserExit" />

      <Publish Dialog="ExitDialog" Control="Finish" Event="EndDialog" Value="Return" Order="999">1</Publish>

      <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="SetupTypeDlg">1</Publish>

      <Publish Dialog="SetupTypeDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg">1</Publish>
      <Publish Dialog="SetupTypeDlg" Control="TypicalButton" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>
      <Publish Dialog="SetupTypeDlg" Control="CustomButton" Event="NewDialog" Value="CustomizeDlg">1</Publish>
      <Publish Dialog="SetupTypeDlg" Control="CompleteButton" Event="NewDialog"
               Value="VerifyReadyDlg">1</Publish>

      <Publish Dialog="CustomizeDlg" Control="Back" Event="NewDialog" Value="MaintenanceTypeDlg"
               Order="1">WixUI_InstallMode = "Change"</Publish>
      <Publish Dialog="CustomizeDlg" Control="Back" Event="NewDialog" Value="SetupTypeDlg"
               Order="2">WixUI_InstallMode = "InstallCustom"</Publish>
      <Publish Dialog="CustomizeDlg" Control="Next" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>

      <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="CustomizeDlg"
               Order="1">WixUI_InstallMode = "InstallCustom"</Publish>
      <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="SetupTypeDlg"
               Order="2">WixUI_InstallMode = "InstallTypical" OR WixUI_InstallMode = "InstallComplete"</Publish>
      <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="CustomizeDlg"
               Order="3">WixUI_InstallMode = "Change"</Publish>
      <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="MaintenanceTypeDlg"
               Order="4">WixUI_InstallMode = "Repair" OR WixUI_InstallMode = "Remove"</Publish>

      <Publish Dialog="MaintenanceWelcomeDlg" Control="Next" Event="NewDialog"
               Value="MaintenanceTypeDlg">1</Publish>

      <Publish Dialog="MaintenanceTypeDlg" Control="ChangeButton" Event="NewDialog"
               Value="CustomizeDlg">1</Publish>
      <Publish Dialog="MaintenanceTypeDlg" Control="RepairButton" Event="NewDialog"
               Value="VerifyReadyDlg">1</Publish>
      <Publish Dialog="MaintenanceTypeDlg" Control="RemoveButton" Event="NewDialog"
               Value="VerifyReadyDlg">1</Publish>
      <Publish Dialog="MaintenanceTypeDlg" Control="Back" Event="NewDialog"
               Value="MaintenanceWelcomeDlg">1</Publish>
    </UI>

    <UIRef Id="WixUI_Common" />
  </Fragment>

</Wix>