#!/usr/bin/env xdg-open

[Desktop Entry]
Name=Mobile-RC bridge
Name[hu]=Mobile-RC híd
Comment=The server application.
Comment[hu]=A szerver alkalmazás.
Exec=/home/zoli/NetBeansProjects/RemoteControlCar/swttest/server.sh
Icon=/home/zoli/NetBeansProjects/RemoteControlCar/src/org/dyndns/fzoli/rccar/bridge/resource/bridge.png
StartupNotify=True
Terminal=False
Type=Application
Categories=Network
